<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>Invoice</servlet-name>
        <servlet-class>com.ops.servlets.Invoice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <jsp-file>/Login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <jsp-file>/Logout.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <jsp-file>/adminDashboard.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <jsp-file>/userdashboard.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>HeaderServlet</servlet-name>
        <jsp-file>/uploadheader.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CreateUserServlet</servlet-name>
        <jsp-file>/createUser.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ViewAllUserServlet</servlet-name>
        <jsp-file>/viewallusers.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ChangeUserServlet</servlet-name>
        <jsp-file>/changepassword.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CreateInvoiceServlet</servlet-name>
        <jsp-file>/createinvoice.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CreateInvoiceItemsServlet</servlet-name>
        <jsp-file>/createinvoiceitems.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>DesignatedInvoiceServlet</servlet-name>
        <jsp-file>/designatedInvoice.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>DInvoiceServlet</servlet-name>
        <jsp-file>/dInvoice.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>GenInvoiceServlet</servlet-name>
        <jsp-file>/geninvoice.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>GInvoiceServlet</servlet-name>
        <jsp-file>/ginvoice.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>SearchtransidInvoiceServlet</servlet-name>
        <jsp-file>/searchInvoicebytransid.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>SearchnameInvoiceServlet</servlet-name>
        <jsp-file>/searchInvoicebyName.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>DateRangeServlet</servlet-name>
        <jsp-file>/reportbydate.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CompanyInfoServlet</servlet-name>
        <jsp-file>/companyInformation.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>UploadHeader</servlet-name>
        <servlet-class>com.ops.servlets.UploadHeader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Header</servlet-name>
        <servlet-class>com.ops.servlets.Header</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InVoice</servlet-name>
        <servlet-class>com.ops.servlets.InVoiceReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InVoiceRep</servlet-name>
        <servlet-class>com.ops.servlets.InVoiceRep</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Invoice</servlet-name>
        <url-pattern>/Invoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Logon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminBoard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserBoard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HeaderServlet</servlet-name>
        <url-pattern>/Uploadheader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserServlet</servlet-name>
        <url-pattern>/CreateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllUserServlet</servlet-name>
        <url-pattern>/Viewallusers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeUserServlet</servlet-name>
        <url-pattern>/Changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateInvoiceServlet</servlet-name>
        <url-pattern>/CreateInvoiceType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateInvoiceItemsServlet</servlet-name>
        <url-pattern>/CreateInvoiceItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesignatedInvoiceServlet</servlet-name>
        <url-pattern>/DesignatedInvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DInvoiceServlet</servlet-name>
        <url-pattern>/DInvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenInvoiceServlet</servlet-name>
        <url-pattern>/GenInvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchtransidInvoiceServlet</servlet-name>
        <url-pattern>/InvoicebyTransid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchnameInvoiceServlet</servlet-name>
        <url-pattern>/InvoicebyName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DateRangeServlet</servlet-name>
        <url-pattern>/DateRangeInvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyInfoServlet</servlet-name>
        <url-pattern>/CompanyInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GInvoiceServlet</servlet-name>
        <url-pattern>/ginvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadHeader</servlet-name>
        <url-pattern>/UploadHeader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Header</servlet-name>
        <url-pattern>/Header</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InVoice</servlet-name>
        <url-pattern>/InVoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InVoiceRep</servlet-name>
        <url-pattern>/InVoiceRep</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <ejb-local-ref>
        <ejb-ref-name>Invoice</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local-home>com.ops.sessions.InvoiceLocalHome</local-home>
        <local>com.ops.sessions.InvoiceLocal</local>
        <ejb-link>opsInvoice-ejb.jar#Invoice</ejb-link>
    </ejb-local-ref>
uploadheader
    
    <ejb-local-ref>
        <ejb-ref-name>Invoice1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local-home>com.ops.sessions.InvoiceLocalHome</local-home>
        <local>com.ops.sessions.InvoiceLocal</local>
        <ejb-link>opsInvoice-ejb.jar#Invoice</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>Invoice2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local-home>com.ops.sessions.InvoiceLocalHome</local-home>
        <local>com.ops.sessions.InvoiceLocal</local>
        <ejb-link>opsInvoice-ejb.jar#Invoice</ejb-link>
    </ejb-local-ref>
    </web-app>
